<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">>
<body>
	<!-- ======= Sidebar ======= -->
	<aside th:fragment="menulateral" class="col-2">

		<ul class="sidebar-nav" id="sidebar-nav">

			<li class="nav-heading">Páginas</li>

			<li class="nav-item"><a class="nav-link collapsed"
				th:href="@{/home}"> <i class="bi bi-person"></i> <span>Home</span>
			</a></li>
			<!-- End Profile Page Nav -->

			<li class="nav-item"><a class="nav-link collapsed"
				th:href="@{/movimentacao/saque}"> <i class="bi bi-cash-coin"></i> <span>Saques</span>
			</a></li>
			<!-- End F.A.Q Page Nav -->

			<li class="nav-item"><a class="nav-link collapsed"
				th:href="@{/movimentacao/deposito}"> <i class="bi bi-piggy-bank-fill"></i> <span>Depósitos</span>
			</a></li>
			<!-- End Contact Page Nav -->

			<li class="nav-item"><a class="nav-link collapsed"
				th:href="@{/movimentacao/transferencia}"> <i class="bi bi-people-fill"></i> <span>Transferências</span>
			</a></li>
			<!-- End Register Page Nav -->

			<li class="nav-item"><a class="nav-link collapsed"
				th:href="@{/}"> <i class="bi bi-box-arrow-in-right"></i>
					<span>Sair</span>
			</a></li>
			<!-- End Login Page Nav -->

		</ul>

	</aside>
	<!-- End Sidebar-->
</body>
</html>