<!DOCTYPE html>
<html layout:decorate="~{layout/layoutpadrao}" xmlns:layout="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pesquisar</title>
</head>
<body>
<div class="d-flex flex-grow-1" id="conteudo" layout:fragment="conteudo">
    <section class="section" style="margin-left: auto; margin-right: auto;">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h5 class="card-title" th:text="${mensagem}"></h5>

                        <!-- No Labels Form -->
                        <form class="row g-3" method="post" th:action="@{/usuarios/novo}" th:object="${usuario}">
                            <input class="form-control" id="codigo" name="codigo" th:field="*{codigo}" type="hidden">
                            <div class="col-md-6">
                                <label class="form-label" for="nome">Nome</label>
                                <input class="form-control" id="nome" name="nome" th:field="*{nome}" type="text">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="cpf">CPF</label>
                                <input class="form-control" id="cpf" name="cpf" th:field="*{cpf}" type="text">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="endereco">Endereço</label>
                                <input class="form-control" id="endereco" name="endereco" th:field="*{endereco}"
                                       type="text">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="telefone">Telefone</label>
                                <input class="form-control" id="telefone" name="telefone" th:field="*{telefone}"
                                       type="text">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="login">Login</label>
                                <input class="form-control" id="login" name="login" th:field="*{login}" type="text">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="senha">Senha</label>
                                <input class="form-control" id="senha" name="senha" th:field="*{senha}" type="password">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="tipo">Tipo de Usuário</label>
                                <select class="form-select" id="tipo" name="tipo">
                                    <option selected>Selecione...</option>
                                    <option value="ADMIN">Administrador</option>
                                    <option value="CLIENTE">Cliente</option>
                                </select>
                            </div>
                            <div class="text-center" style="padding-top: 30px;">
                                <a class="btn btn-secondary" th:href="@{/usuarios/listar}">Cancelar</a>
                                <button class="btn btn-primary" type="submit">Salvar</button>
                            </div>
                        </form><!-- End No Labels Form -->
                    </div>

                </div>
            </div>

        </div>
    </section>
</div>

</body>

</html>